/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
	padding: $spacing-unit * 6;

    // Positioning context for the mobile navigation icon
    position: relative;
	
	background: rgba(0, 54, 153, .75) url(../media/woolacombe.jpg) no-repeat left bottom;
    background: url(../media/woolacombe.jpg) no-repeat left bottom, -webkit-linear-gradient(left top, rgba(34, 159, 236, .75), rgba(0, 54, 153, .75));
    background: url(../media/woolacombe.jpg) no-repeat left bottom, linear-gradient(to right bottom, rgba(34, 159, 236, .75), rgba(0, 54, 153, .75));
    background-size: cover;
    background-blend-mode: soft-light;
}

.site-title {
    font-size: $base-font-size * 4;
    font-weight: 100;
    line-height: $spacing-unit * 3;
    letter-spacing: -1px;
    margin-bottom: 0;
	word-spacing: $base-font-size * 80;

    &,
    &:visited {
        color: $background-color;
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
	padding-top: $spacing-unit * 4;
}

.page-heading {
    font-size: $base-font-size;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $base-font-size * 1.5;
	margin-bottom: -$spacing-unit;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $base-font-size * 3;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: $base-font-size * 1.5;
    }
}

.post-content {
    padding-bottom: $spacing-unit;
	margin-bottom: $spacing-unit;

    h2 {
        font-size: $base-font-size * 2;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: $base-font-size * 1.5;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: $base-font-size;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.comments {
	padding-top: $spacing-unit;
	margin-top: $spacing-unit;
}

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
}

.PageNavigation .next {
  text-align: right;
}


@include media-query($on-palm) {

        .site-title{
            font-size: $base-font-size * 2;
            line-height: $spacing-unit * 1.5;
        }
        .site-header {
            border-bottom: 1px solid $grey-color-light;
            padding: $spacing-unit * 2;
        }
        #categories{
            text-align: left;
        }

        /**
         * Page content
         */

        .page-content {
            padding: $spacing-unit 0;
            padding-top: $spacing-unit * 2;
        }

        .page-heading {
            font-size: $base-font-size;
        }

        .post-list {
            margin-left: 0;
            list-style: none;

            > li {
                margin-bottom: $spacing-unit;
            }

            h2{
                font-size: $base-font-size;

                a{
                    font-weight: 600;
                }
            }
        }

        .post-meta {
            font-size: $small-font-size;
            color: $grey-color;
        }

        .post-link {
            display: block;
            font-size: $base-font-size;
            margin-bottom: -$spacing-unit;
        }

        .button{
        padding: $spacing-unit / 8 $spacing-unit / 4;
        margin: 0 $spacing-unit / 8 $spacing-unit / 8  0;
        font-size: $small-font-size;
}
    }